@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
  --very-dark-blue-t: hsla(229, 31%, 21%, 0.925);
}

.box-shadow {
  box-shadow: 0 5px 10px #0000001a;
}

body {
  line-height: 1.2;
  transition: all 0.5s;
}
.footer-logo {
  fill: white;
  stroke: white;
}

.mob-links > li {
  border-color: #ffffff1a;
}

.social-icon {
  fill: var(--soft-red);
}
