@font-face {
  font-family: "Karla";
  src: url("assets/fonts/");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 200 (lighter) */
  --Green: hsl(148, 38%, 91%);
  /* 600 (medium)  */
  --Green: hsl(169, 82%, 27%);

  --Red: hsl(0, 66%, 54%);

  --White: hsl(0, 0%, 100%);
  /* 500 (medium) */
  --Grey: hsl(186, 15%, 59%);
  /* 900 (darker) */
  --Grey: hsl(187, 24%, 22%);
}
