@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ### Primary */
:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --DarkGray: hsl(0, 0%, 55%);
  --VeryDarkGray: hsl(0, 0%, 41%);
}
body {
  font-size: 15px;
}

.alata {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.mobile-nav {
  transition: all 0.2s linear;
}
.show {
  top: 0;
}

.image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.322) 0%,
    rgba(0, 0, 0, 0.596) 100%
  );
  /* background-color: rgba(0, 0, 0, 0.247); */
  opacity: 0.4; /* Adjust the opacity as needed */
  z-index: 1; /* Ensure the overlay is above the content */
}

.image:hover::before {
  background-color: rgba(255, 255, 255, 0.8);
}

.border-B {
  position: relative;
  width: 100%;
  padding-bottom: 6px;
}
.border-B:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  height: 2px;
  width: 70%;
}
