@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */
  --DarkBlue: hsl(233, 26%, 24%);
  --LimeGreen: hsl(136, 65%, 51%);
  --BrightCyan: hsl(192, 70%, 51%);
  /* Neutral */
  --GrayishBlue: hsl(233, 8%, 62%);
  --LightGrayishBlue: hsl(220, 16%, 96%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

body {
  overflow-x: hidden;
  background: var(--VeryLightGray);
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
p {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(./assets/images/bg-intro-desktop.svg), var(--very-light-gray);
  background-repeat: no-repeat;
  background-position-x: 43.4vw;
  background-position-y: -260px;
}

.gradient {
  background: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan));
}

.overlay {
  z-index: -1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.726), transparent);
}

.nav-links > li {
  transition: all 0.5s;
}

.nav-links > li:hover {
  border-bottom: 4px solid var(--LimeGreen);
}

.main-image {
  animation: anime 2s;
}

.anime {
  top: -7rem;
}

@keyframes anime {
  0% {
    top: -8rem;
  }
  50% {
    top: -4rem;
  }
  100% {
    top: -7rem;
  }
}
